*{
	margin: 0px;
	padding: 0px;
	font-family: "微软雅黑";
}
*, :focus, :hover, :active {
-webkit-tap-highlight-color:rgba(0,0,0,0);
outline: 0;
}

body{
	background: #efeff4;
}
.clear{
	clear: both;
	float: none;
}
a{
	text-decoration: none;
}
.headerbox{
	width: 100%;
	height:50px;
	line-height: 50px;
	background: #ffffff;
	border-bottom: 1px solid #efeff4;
	position: fixed;
	left: 0px;
	top: 0px;s
}
.headerbox p{
	font-size: 16px;
	color: #222222;
	text-align: center;
}
.headerbox p a{
	display: block;
	width: 50px;
	height: 50px;
	position: absolute;
	left: 0px;
	top: 0px;
	background: url("../images/return.png") center no-repeat;
	background-size: auto 15px;
}
.headerbox>a{
	display: block;
	width: 50px;
	height: 50px;
	position: absolute;
	right: 10px;
	top: 0px;
	background: url("../images/home.png") center no-repeat;
	background-size: auto 18px;
}
.scroll {
	width:100%;
	position:relative;
	overflow:hidden;
}
.mod_01 {
	float:left;
	width:100%;
	height: 100%;
}
.mod_01 a{
	display: block;
	width: 100%;
	height: 100%;
}
.mod_01 img {
	display:block;
	width:360px;
	height:auto;
}
.dotModule_new {
	padding:0 5px;
	height:11px;
	line-height:6px;
	-webkit-border-radius:11px;
	position:absolute;
	bottom:5px;
	right:10px;
	z-index:11;
}
#slide_01_dot {
	text-align:center;
	margin:3px 0 0 0;
}
#slide_01_dot span {
	display:inline-block;
	margin:0 3px;
	width:6px;
	height:6px;
	vertical-align:middle;
	background:#ffffff;
	-webkit-border-radius:3px;
}
#slide_01_dot .selected {
	background:#ff0000;
}
.indexpage .specialbox{
	margin-top: 10px;
	height: 148px;
	background: #999999;
}
.indexpage .specialbox a{
	display: block;
	width: 100%;
	height: 100%;
	overflow: hidden;
}
.indexpage .specialbox a img{
	width: 100%;
	height: 100%;
}
.prolistpage{
	position: relative;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction:column;
    -webkit-box-orient:vertical;
    box-orient:vertical;
    -webkit-flex-direction:column;
    flex-direction:column;
}

.inner{
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
}

.opacity{
    -webkit-animation: opacity 0.5s linear;
    animation: opacity 0.5s linear;
}
@-webkit-keyframes opacity {
    0% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
}
@keyframes opacity {
    0% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
}

/* dropload */
.dropload-up,.dropload-down{
    position: relative;
    height: 0;
    overflow: hidden;
    -webkit-transform:translate3d(0,0,0);
    transform:translate3d(0,0,0);
}
.dropload-refresh,.dropload-update,.dropload-load{
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 100%;
    height: 50px;
    line-height: 50px;
    text-align: center;
    -webkit-transform:translate(-50%,0);
    transform:translate(-50%,0);
}
.dropload-load .loading{
    display: inline-block;
    height: 15px;
    width: 15px;
    border-radius: 100%;
    margin: 6px;
    border: 2px solid #666;
    border-bottom-color: transparent;
    vertical-align: middle;
    -webkit-animation: rotate 0.75s 0 linear infinite;
    animation: rotate 0.75s 0 linear infinite;
}
@-webkit-keyframes rotate {
    0% {
        -webkit-transform: rotate(0deg);
    }
    50% {
        -webkit-transform: rotate(180deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}
@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(180deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
.prolistpage .inner{
	margin-top: 55px;
}
.prolistpage ul li{
	width: 50%;
	float: left;
	list-style-type: none;
}
.prolistpage ul li a{
	display: block;
	margin: 3px;
	background: #ffffff;
}
.prolistpage ul li a .img{
	width: 100%;
}
.prolistpage ul li a img{
	width: 100%;
	height: 100%;
}
.prolistpage ul li a p.pron{
	font-size: 12px;
	line-height: 18px;
	height: 36px;
	overflow: hidden;
	color: #000000;
	margin-top: 10px;
	padding: 0px 5px;
}
.prolistpage ul li a p.pri{
	font-size: 13px;
	color: #b81c22;
	padding: 8px 5px;
	position: relative;
}
.prolistpage ul li a p.pri span{
	width: 60px;
	height: 30px;
	font-size: 12px;
	color: #888888;
	position: absolute;
	right: 0px;
	top: 8px;
	text-decoration: line-through;
}
.prolistpage .topscroll{
	width: 30px;
	height: 30px;
	-webkit-border-radius:15px;
	-moz-border-radius:15px;
	border-radius: 15px;
	
	background: url('../images/up.png') center no-repeat;
	background-size: auto 15px;
	background-color: #b81c22;
	position: fixed;
	bottom: 10%;
	right: 20px;
}
.cartpage{
	display: block;
	width: auto;
	height: auto;
	position: relative;
	background: #f8f8f8;
}
.cartpage .list{
	display: block;
	margin: 60px 0px;
}
.cartpage .list .pro{
	display: block;
	width: auto;
	height: 100px;
	position: relative;
	border-bottom: 1px solid #ededed;
	border-top: 1px solid #ededed;
	margin-bottom: 10px;
	background: #ffffff;
}
.cartpage .pro a.del{
	width: 30px;
	height: 30px;
	text-align: center;
	line-height: 30px;
	font-size: 16px;
	color: #000000;
	position: absolute;
	right: 20px;
	bottom: 5px;
}
.cartpage .pro .img{
	display: block;
	width: 60px;
	height: 60px;
	position: absolute;
	top: 20px;
	left: 40px;
}
.cartpage .pro .img img{
	width: 100%;
	height: 100%;
}
.cartpage .pro .radio{
	display: block;
	width: 40px;
	height: 60px;
	position: absolute;
	top: 20px;
	left: 0px;
	line-height: 60px;
	text-align: center;
}
.cartpage .pro .radio a{
	display: block;
	width: 40px;
	height: 100%;
}
.cartpage .pro .radio i{
	color: #b3b2ba;
	font-size: 20px;
	font-weight: lighter;
}
.cartpage .pro .radio i.full{
	display: none;
}
.cartpage .pro .radio.checked i.full{
	display: inline;
	color: #b81c22;
}
.cartpage .pro .radio.checked i:first-child{
	display: none;
}
.cartpage .pro .name{
	display: block;
	width: auto;
	margin: 0px 20px 0px 110px;
}
.cartpage .pro .name a{
	display: block;
	line-height: 18px;
	height: 36px;
	padding-top: 10px;
	overflow: hidden;
	color: #555555;
}
.cartpage .pro .name a p{
	width: auto;
	line-height: 18px;
	height: 36px;
	font-size: 12px;
	font-weight: normal;
}
.cartpage .pro .name span{
	display: block;
	width: auto;
	line-height: 14px;
	height: 14px;
	overflow: hidden;
	font-size: 12px;
	font-weight: bold;
	color: #333333;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.cartpage .pro .price{
	display: block;
	width: 60px;
	height: 20px;
	position: absolute;
	right: 20px;
	top: 50px;
	color: #b81c22;
	font-size: 12px;
	text-align: right;
}
.cartpage .pro .size{
	display: block;
	height:20px;
	padding-right: 85px;
	line-height: 20px;
	overflow: hidden;
	position: absolute;
	left: 110px;
	top: 50px;
	color: #999999;
	font-size: 12px;
	text-align: left;
}
.cartpage .pro .count{
	display: block;
	width: 72px;
	height: 24px;
	position: absolute;
	bottom: 5px;
	left: 110px;
}
.cartpage .pro .count input{
	float: left;
}
.cartpage .pro .count a{
	display: block;
	width: 24px;
	height: 24px;
	line-height: 24px;
	font-size: 12px;
	background: #d7d7d7;
	color: #ffffff;
	font-weight: bold;
	text-align: center;
	float: left;
}
.cartpage .pro .count a i{
	font-size: 14px;
}
.cartpage .pro .count a:active{
	background: #b81c22;
}
.cartpage .pro .count input{
	display: block;
	height: 22px;
	border: none;
	border-bottom: 1px solid #d7d7d7;
	border-top: 1px solid #d7d7d7;
	width: 24px;
	text-align: center;
	font-size: 12px;
	color: #333333;
	outline: none;
	-webkit-appearance: none; 
	appearance:none;
 	-webkit-tap-highlight-color:rgba(0,0,0,0);
	border-radius:0;
}
.cartpage .allprice{
	display: block;
	width: 100%;
	height: 60px;
	position: fixed;
	left: 0px;
	bottom: 0px;
	background: #ffffff;
	border-top: 1px solid #e1e1e1;
} 
.cartpage .allprice .sellall i{
	color: #b3b2ba;
	font-size: 20px;
	font-weight: lighter;
}
.cartpage .allprice .sellall i.full{
	display: none;
}
.cartpage .allprice .sellall.checked i.full{
	display: inline;
	color: #b81c22;
}
.cartpage .allprice .sellall.checked i:first-child{
	display: none;
}
.cartpage .allprice>*{
	float: right;
	line-height: 60px;
	font-size: 14px;
}
.cartpage .allprice .sellall{
	display: block;
	width: 30px;
	text-align: center;
	float: left;
}
.cartpage .allprice>span{
	float: left;
	color: #999999;
}
.cartpage .allprice p{
	font-size: 15px;
	color: #333333;
}
.cartpage .allprice p span{
	font-size: 15px;
	color: #b81c22;
}
.cartpage .allprice p span b{
	font-weight: normal;
}
.cartpage .allprice a.cartsub{
	display: block;
	width: 70px;
	height: 40px;
	margin: 10px 10px;
	background: #b81c22;
	font-size: 15px;
	color: #ffffff;
	text-align: center;
	line-height: 40px;
	-moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius:5px;
}
.nullpage{
	display: block;
	width: auto;
	height: auto;
}
.nullpage .box{
	margin-bottom: 60px;
	padding: 120px 0px;
}
.nullpage .box i{
	display: block;
	width: auto;
	height: 40px;
	line-height: 40px;
	text-align: center;
	font-size: 28px;
	color: #aaaaaa;
}
.nullpage .box p{
	display: block;
	width: auto;
	height: 20px;
	line-height: 20px;
	text-align: center;
	font-size: 12px;
	color: #aaaaaa;
}
.orderlist .list{
	margin-bottom: 60px;
}
.orderlist .list .listbox{
	background: #ffffff;
	margin-bottom: 5px;
	padding: 0px 10px;
}
.orderlist .list .listbox .list_num{
	width: 100%;
	height: 34px;
	line-height: 34px;
	font-size: 14px;
	color: #666666;
	border-bottom: 1px solid #e9ecf1;
	position: relative;
}
.orderlist .list .listbox .list_num a{
	position: absolute;
	right: 20px;
	font-size: 14px;
	color: #666666;
	text-decoration: none;
}
.orderlist .list .listbox .pro{
	width: 100%;
	position: relative;
} 
.orderlist .list .listbox .pro a{
	text-decoration: none;
}
.orderlist .list .listbox .pro .img{
	width: 80px;
	padding: 10px 5px;
	position: absolute;
	left: 0px;
	top: -10px;
}
.orderlist .list .listbox .pro .img img{
	width: 100%;
}
.orderlist .list .listbox .pro .pro_p{
	margin-left: 100px;
	margin-right: 60px;
}
.orderlist .list .listbox .pro .pro_p p{
	height: 40px;
	line-height: 20px;
	font-size: 12px;
	color: #000000;
	margin-top: 10px;
	overflow: hidden;
}
.orderlist .list .listbox .pro .pro_p .pro_p2{
	color: #8c8c8c;
}
.orderlist .list .listbox .pro .pro_p p.pro_p1 span{
	position: absolute;
	right: 5px;
	top: 5px;
}
.orderlist .list .listbox .pro .pro_p p.pro_p2 span{
	position: absolute;
	right: 5px;
	bottom:10px;
	color: #000000;
}
.orderlist .list .listbox p.pri{
	border-top: 1px solid #e9ecf1;
	font-size: 12px;
	color: #8c8c8c;
	height: 34px;
	line-height: 34px;
	position: relative;
}
.orderlist .list .listbox p.pri span{
	font-size: 14px;
	color: #b81c22;
}
.orderlist .list .listbox p.pri a{
	font-size: 14px;
	color: #ffffff;
	text-decoration: none;
	background: #b81c22;
	padding: 2px 15px;
	border-radius: 3px;
	position: absolute;
	right: 5px;
	top: 5px;
	line-height: 20px;
}
.orderlist .nulllist{
	margin-bottom: 60px;
}
.orderlist .nulllist .nulllistbox{
	height: 300px;
	margin: 0px 17px;
	background: url("res/images/line.png") center repeat-x;
	background-size: auto 1px;
}
.orderlist .nulllist .nulllistbox .img{
	width: 80px;
	margin: 0px auto;
	padding-top: 120px;
	background: #e9ecf1;
}
.orderlist .nulllist .nulllistbox .img img{
	width: 35px;
	margin: 15px 23px;
}
.orderlist .nulllist .nulllistbox p{
	text-align: center;
	font-size: 14px;
	color: #666666;
}
.orderlist .nulllist p{
	text-align: center;
	font-size: 14px;
	color: #999999;
}
.orderlist .nulllist>a{
	display: block;
	width: 138px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	text-decoration: none;
	font-size: 16px;
	color: #7cc8ec;
	margin: 20px auto;
	border: 1px solid #7cc8ec;
	border-radius: 5px;
}
.orderlist .nulllist .link{
	width: 174px;
	margin: 10px auto;
}
.orderlist .nulllist .link a{
	text-decoration: none;
	font-size: 14px;
	color: #999999;
	margin: 16px 0px;
	border-right: 1px solid #7f7f80;
	padding: 0px 14px;
}
.orderlist .nulllist .link a:last-child{
	border-right:none;
}
.listsure .addbox a{
	display: block;
	padding: 6px 30px 10px 10px;
	position: relative;
}
.listsure .addbox a>span{
	display: block;
	width: 30px;
	height: 100%;
	background-image: url("../images/open.png");
	background-repeat: no-repeat;
	background-size: auto 15px;
	background-position: center;
	position: absolute;
	right: 0px;
	top: 0px;
}
.listsure .addbox a.add{
	display: none;
}
.listsure .addbox a.add p{
	line-height: 30px;
	font-size: 14px;
	color: #333333;
}
.listsure .addbox{
	background: url('../images/line.png') bottom repeat-x;
	background-size: auto 4px;
	background-color: #ffffff;
	padding-left: 30px;
	margin-top: 60px;
}
.listsure .addbox a.useradd em{
	display: block;
	width: 30px;
	height: 70px;
	background: url('../images/map.png') center no-repeat;
	background-size: auto 25px;
	position: absolute;
	left: -20px;
	top: 0px;
}
.listsure .addbox a.useradd p.name{
	height: 25px;
	line-height: 25px;
	font-size: 13px;
	color: #333333;
	padding-right: 150px;
	position: relative;
}
.listsure .addbox a.useradd p.name span{
	position: absolute;
	right: 60px;
	top: 0px;
}
.listsure .addbox a.useradd p.address{
	font-size: 12px;
	line-height: 15px;
	color: #333333;
	height: 30px;
	overflow: hidden;
	position: relative;
}
.listsure .pro{
	background: #ffffff;
	padding: 0px 10px;
	margin-top: 10px;
	border-bottom: 1px solid #e9ecf1;
	position: relative;
}
.listsure .pro .img{
	height: 80px;
	position: absolute;
	left: 10px;
	top: 5px;
}
.listsure .pro .img img{
	height: 100%;
}
.listsure .pro .pro_intro{
	padding: 5px 5px 5px 100px;
}
.listsure .pro .pro_intro p.pro_name{
	line-height: 20px;
	height: 40px;
	overflow: hidden;
	font-size: 13px;
	color: #000000;
}
.listsure .pro .pro_intro p.pro_de{
	line-height: 20px;
	height: 20px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	font-size: 12px;
	color: #999999;
}
.listsure .pro .pro_intro .pro_pri{
	position: relative;
	padding-left: 80px;
	height: 40px;
}
.listsure .pro .pro_intro .pro_pri span{
	line-height: 40px;
	font-size: 13px;
	color: #000000;	
	position: absolute;
	left: 0px;
	top: 0px;
}
.listsure .pro .pro_intro .pro_pri span b{
	font-weight: normal;
}
.listsure .pro .count{
	display: block;
	width: 72px;
	height: 24px;
	position: absolute;
	bottom: 7px;
	right: 10px;
}
.listsure .pro .count input{
	float: left;
}
.listsure .pro .count a{
	display: block;
	width: 24px;
	height: 24px;
	line-height: 24px;
	font-size: 12px;
	background: #d7d7d7;
	color: #ffffff;
	font-weight: bold;
	text-align: center;
	float: left;
}
.listsure .pro .count a i{
	font-size: 14px;
}
.listsure .pro .count a:active{
	background: #b81c22;
}
.listsure .pro .count input{
	display: block;
	height: 22px;
	border: none;
	border-bottom: 1px solid #d7d7d7;
	border-top: 1px solid #d7d7d7;
	width: 24px;
	text-align: center;
	font-size: 12px;
	color: #333333;
	outline: none;
	-webkit-appearance: none; 
	appearance:none;
 	-webkit-tap-highlight-color:rgba(0,0,0,0);
	border-radius:0;
}
.listsure .yanguang{
	padding: 0px 10px;
	background: #ffffff;
	margin-bottom: 5px;
	position: relative;
}
.listsure .yanguang a{
	display: block;
}
.listsure .yanguang a p{
	font-size: 13px;
	line-height: 36px;
	color: #333333;
}
.listsure .yanguang a span{
	display: block;
	width: 20px;
	height: 20px;
	background: url('../images/yesorno1.png') center no-repeat;
	background-size: 20px 40px;
	background-position: 0px 0px;
	position: absolute;
	right: 20px;
	top: 8px;
}
.listsure .yanguang a.sel span{
	background-position: 0px -20px;
}
.listsure .qydmbox{
	margin-top: 10px;
	padding: 0px 10px;
	height: 40px;
	line-height: 40px;
	background: #ffffff;
}
.listsure .qydmbox a{
	display: block;
	height: 100%;
	color: #333333;
	font-size: 14px;
	background: url('../images/open.png') right center no-repeat;
	background-size: auto 15px;
	position: relative;
}
.listsure .qydmbox a span{
	display: block;
	line-height: 40px;
	position: absolute;
	right: 20px;
	top: 0px;
	color: #b81c22;
	text-align: right;
}
.listsure .paymentbox{
	background: #ffffff;
	margin-top: 10px;
	padding:0px 10px;
}
.listsure .paymentbox>p{
	height: 40px;
	font-size: 15px;
	color: #000000;
	line-height: 40px;
	position: relative;
	border-bottom: 1px solid #e9ecf1;
}
.listsure .paymentbox .pay p{
	height: 40px;
	line-height: 40px;
	font-size: 13px;
	color: #333333;
	position: relative;
	padding-left: 150px;
	padding-right: 60px;
	text-align: center;
}
.listsure .paymentbox .pay p img{
	height: 30px;
	position: absolute;
	left: 0px;
	top: 5px;
}
.listsure .paymentbox .pay p span{
	display: block;
	width: 16px;
	height: 16px;
	position: absolute;
	right: 12px;
	top: 12px;
	background: url("../images/seloff.png");
	background-size: 16px 32px;
	background-position: 0px -16px;
}
.listsure .paymentbox .pay p.active span{
	background-position: 0px 0px;
}
.listsure .liuyan{
	background: #ffffff;
	margin-top:10px;
	padding-left: 10px;
	border-top:1px solid #dadee5;
	border-bottom:1px solid #dadee5;
	margin-bottom: 65px;
}
.listsure .liuyan input{
	width:100%;
	height: 40px;
	display: block;
	border: none;
	font-size: 12px;
	color: #000000;
	outline: none;
}

.listsure .subbox{
	width: 100%;
	height: 60px;
	border-top: 1px solid #dadee5;
	background: #ffffff;
	position: fixed;
	bottom: 0px;
	left: 0px;
}
.listsure .subbox h4{
	font-weight: normal;
	line-height: 60px;
	color: #000000;
	font-size: 14px;
	position: relative;
	padding-left: 10px;
	position: relative;
}
.listsure .subbox h4 span{
	color: #b81c22;
	margin-left: 10px;
}
.listsure .subbox a{
	display: block;
	width: 80px;
	height: 40px;
	line-height: 40px;
	background: #b81c22;
	font-size: 14px;
	color: #ffffff;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius: 5px;
	text-align: center;
	text-decoration: none;
	position: absolute;
	right: 15px;
	top: 10px;
}
.syqydmbox{
	position: fixed;
	width: 100%;
	height: 100%;
	background: #ffffff;
}
.syqydmbox .syqydmhead{
	margin: 0px 10px;
	height: 80px;
	line-height: 80px;
	border-bottom: 1px solid #e9ecf1;
	position: relative;
}
.syqydmbox .syqydmhead p{
	text-align: center;
	font-size: 16px;
	font-weight: bold;
}
.syqydmbox .syqydmhead a{
	display: block;
	width: 50px;
	height: 50px;
	position: absolute;
	right: 0px;
	top: 15px;
	font-size: 40px;
	text-align: center;
	line-height: 50px;
	color: #999999;
}
.syqydmbox .syqydmcon{
	margin-top: 50px;
	padding: 0px 10px;
}
.syqydmbox .syqydmcon p{
	line-height: 30px;
	font-size: 13px;
	color: #232323;
	font-weight: bold;
}
.syqydmbox .syqydmcon input{
	width: 100%;
	height:40px;
	text-align: center;
	border: 1px solid #e9ecf1;
}
.syqydmbox .syqydmcon span{
	display: block;
	line-height: 40px;
	font-size: 12px;
	color: #b81c22;
	text-align: center;
}
.syqydmbox .used a{
	display: block;
	width: 190px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	background: #b81c22;
	color: #ffffff;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius: 5px;
	margin: 40px auto;
}
.syqydmbox .rules{
	padding: 0px 10px;
}
.syqydmbox .rules p{
	color: #232323;
	line-height: 50px;
	font-size: 13px;
	font-weight: bold;
}
.syqydmbox .rules span{
	color: #999999;
	font-size: 12px;
	line-height: 20px;
}
.prodetails .pron{
	background: #ffffff;
	margin-bottom: 6px;
	padding: 0px 100px 0px 20px;
	position: relative;
}
.prodetails a.retu{
	display: block;
	width: 30px;
	height: 30px;
	background: url("../images/returnw.png") center no-repeat;
	background-size: auto 15px;
	background-color: #999999;
	-moz-border-radius:15px;
	border-radius: 15px;
	position: fixed;
	left: 12px;
	top: 12px;
	z-index: 2;
}
.prodetails #rotate{
	overflow: hidden;
	width:100%;
	background-color: #ffffff;
	background-position: 0px 0px; 
	background-repeat:repeat-x;
}
.prodetails .pron .proname p.name{
	font-size: 13px;
	color: #000000;
	padding-top: 10px;
	line-height: 20px;
	height: 20px;
	overflow: hidden;
}
.prodetails .pron .proname p.pri{
	height: 30px;
	font-size: 13px;
	color: #b81c22;
}
.prodetails .pron .proname p.pri s{
	margin-left: 15px;
	color: #666666;
}
.prodetails .pron>a{
	display: block;
	padding-left: 15px;
	border-left: 1px solid #999999;
	position: absolute;
	right: 20px;
	top: 10px;
}
.prodetails .pron>a span{
	display: block;
	width: 20px;
	height: 20px;
	background: url("../images/zan1.png") center no-repeat;
	background-size: 20px 40px;
	background-position: 0px 0px;
}
.prodetails .pron>a p{
	font-size: 12px;
	text-align: center;
	color: #555555;
}
.prodetails .pron>a.act span{
	background-position: 0px -20px;
}
.prodetails .pron>a.act p{
	color: #da351f;
}
.prodetails .box{
	background: #ffffff;
	border-bottom: 1px solid #dadee5;
	border-top: 1px solid #dadee5;
	margin-bottom: 6px;
	padding: 0px 20px;
}
.prodetails .size p{
	line-height: 30px;
	font-size: 13px;
}
.prodetails .size ul li{
	list-style-type: none;
	float: left;
	margin: 5px;
}
.prodetails .size ul li a{
	display: block;
	text-align: center;
	text-decoration: none;
	font-size: 12px;
	color: #000000;
	-moz-border-radius:3px;
	border-radius: 3px;
	border: 1px solid #dadee5;
	padding: 5px 23px;
}
.prodetails .size ul li.sel a{
	border: 1px solid #b81c22;
	color: #b81c22;
}
.prodetails .trans p{
	line-height: 34px;
	font-size: 12px;
	color: #999999;
	padding-left: 20px;
	margin-right: 15px;
	position: relative;
	float: left;
}
.prodetails .trans p span{
	display: block;
	width: 20px;
	height: 20px;
	background: url('../images/icon1.png') no-repeat center;
	background-size: auto 14px;
	position: absolute;
	left: 0px;
	top: 7px;
}

.prodetails .prodeta .deta_h{
	height: 40px;
	line-height: 40px;
	border-bottom: 1px solid #dadee5;
	border-top: 1px solid #dadee5;
	margin-bottom: 4px;
	background: url("../images/rline.png") center no-repeat;
	background-size: 1px 25px;
	background-color: #ffffff;
}
.prodetails .prodeta .deta_h ul li{
	width: 50%;
	float: left;
	list-style-type: none;
}
.prodetails .prodeta .deta_h ul li a{
	display: block;
	width: 100%;
	height: 100%;
	text-decoration: none;
	font-size: 12px;
	color: #000000;
	text-align: center;
}
.prodetails .prodeta .deta_h ul li a span{
	padding: 10px;
}
.prodetails .prodeta .deta_h ul li.active a span{
	border-bottom: 2px solid #b81c22;
}
.prodetails .prodeta .imgandsale{
	position: relative;
}
.prodetails .prodeta .imgandsale .img{
	display: block;
	width: 100%;
}
.prodetails .prodeta .imgandsale .img img{
	width: 100%;
}
.prodetails .prodeta .imgandsale .img.cli{
	z-index:5;
	position:fixed;
	left:0px;
	top:0px;
	height: 100%;
	background:#555555;
}
.prodetails .prodeta .imgandsale .text{
	display: none;
	width: 100%;
	background:#ffffff;
}
.prodetails .prodeta .imgandsale .aftersale{
	margin-bottom: 50px;
}
.prodetails .prodeta .imgandsale .aftersale p.p_h{
	font-size: 14px;
	line-height: 25px;
}
.prodetails .prodeta .imgandsale .aftersale p{
	font-size: 12px;
	color: #666666;
	line-height: 18px;
	padding: 0px 10px;
}
.prodetails .prodeta .imgandsale .aftersale h3{
	display: block;
	font-size: 14px;
	color: #555555;
	line-height: 45px;
	padding: 0px 10px;
	margin-top: 10px;
	border-top: 1px solid #dadee5;
	border-bottom: 1px solid #dadee5;
	position: relative;
}
.prodetails .joincart{
	width: 100%;
	height: 60px;
	position: fixed;
	left: 0px;
	bottom: 0px;
	border-top: 1px solid #dadee5;
	background: #ffffff;
	z-index: 2;
}
.prodetails .joincart ul li{
	width: 33%;
	height: 100%;
	float: left;
	list-style-type: none;
}
.prodetails .joincart ul li a{
	display: block;
	height: 40px;
	margin: 10px auto;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius: 5px;
}
.prodetails .joincart ul li a.cart{
	width: 60px;
	height: 40px;
	border: 1px solid #999999;
}
.prodetails .joincart ul li a.cart span{
	display: block;
	width: 40px;
	height: 40px;
	margin: 0px auto;
	background: url("../images/cart.png") center no-repeat;
	background-size: 25px auto;
	position: relative;
}
.prodetails .joincart ul li a.cart span em{
	display: block;
	width: 16px;
	height: 16px;
	-webkit-border-radius:50%;
	-moz-border-radius:50%;
	border-radius: 50%;
	background: #b81c22;
	position: absolute;
	right: -6px;
	top: 0px;
	color: #ffffff;
	line-height: 16px;
	text-align: center;
	font-size: 11px;
	font-style: normal;
}
.prodetails .joincart ul li a.join{
	width: 100px;
	height: 40px;
	background: #b81c22;
	font-size: 13px;
	color: #ffffff;
	line-height: 40px;
	text-align: center;
}
.prodetails .joincart ul li a.shop{
	width: 100px;
	height: 40px;
	background: #b81c22;
	font-size: 13px;
	color: #ffffff;
	line-height: 40px;
	text-align: center;
}
.prodetails .imgandsale .text h3.sel span{
	background: url('../images/open_off.png') no-repeat center;
	background-size: 15px auto;
}
.prodetails .questionbox{
	background: #ffffff;
	padding: 0px 10px;
}
.prodetails .questionbox .quest{
	border-bottom: 1px solid #dadee5;
}
.prodetails .questionbox .quest a{
	display: block;
	font-size: 12px;
	color: #000000;
	line-height: 45px;
	font-weight: normal;
	padding-right: 20px;
	background: url("../images/open_on.png") no-repeat right center;
	background-size: 15px auto;
}
.prodetails .questionbox .quest a.sel{
	background: url("../images/open_off.png") no-repeat right center;
	background-size: 15px auto;
}
.prodetails .questionbox .quest p{
	display: none;
	font-size: 12px;
	color: #555555;
	line-height: 18px;
}