*{
	margin: 0px;
	padding: 0px;
	font-family: '微软雅黑';
}
body{
	background: #efeff4;
}
*, :focus, :hover, :active {
-webkit-tap-highlight-color:rgba(0,0,0,0);
outline: 0;
}
a{
	text-decoration: none;
}
.cle{
	float: none;
	clear: both;
}
.headerbox{
	width: 100%;
	height: 50px;
	background: #b81c22;
	position: fixed;
	left: 0px;
	top: 0px;
	z-index: 997;
}
.headerbox img{
	display: block;
	height: 12px;
	margin: 19px auto;
}
.headerbox a.search{
	width: 50px;
	height: 50px;
	background: url('../images/lefts.png') no-repeat center;
	background-size: auto 20px;
	position: absolute;
	left: 5px;
	top: 0px;
}
.headerbox a.cart{
	width: 50px;
	height: 50px;
	background: url('../images/cart2.png') no-repeat center;
	background-size: auto 20px;
	position: absolute;
	right: 5px;
	top: 0px;
}
.footerbox{
	width: 100%;
	height: 64px;
	position: fixed;
	left: 0px;
	bottom: 0px;
	background: #ffffff;
	border-top: 1px solid #d2d2d2;
	z-index: 997;
}
.footerbox ul li{
	list-style-type: none;
	float: left;
	width: 33%;
	height: 100%;
}
.footerbox ul li.bar2{
	width: 34%;
}
.footerbox ul li a{
	display: block;
	width: 100%;
	height: 100%;
}
.footerbox ul li a span{
	display: block;
	width: 44px;
	height: 36px;
	margin: 2px auto;
	background: url('../images/bar.png') no-repeat;
	background-size: 132px 72px;
}
.footerbox ul li a p{
	font-size: 13px;
	line-height: 20px;
	color: #4a4a4a;
	text-align: center;
}
.footerbox ul li.bar1 a span{
	background-position: 0px 0px;
}
.footerbox ul li.bar2 a span{
	background-position: -44px 0px;
}
.footerbox ul li.bar3 a span{
	background-position: -88px 0px;
}
.footerbox ul li.bar1:active a span{
	background-position: 0px -36px;
}
.footerbox ul li.bar2:active a span{
	background-position: -44px -36px;
}
.footerbox ul li.bar3:active a span{
	background-position: -88px -36px;
}
.footerbox ul li:active a p{
	color: #b81c22;
}
.footerbox ul li.bar1.active a span{
	background-position: 0px -36px;
}
.footerbox ul li.bar2.active a span{
	background-position: -44px -36px;
}
.footerbox ul li.bar3.active a span{
	background-position: -88px -36px;
}
.footerbox ul li.active a p{
	color: #b81c22;
}
.topbox{
	width: 100%;
	height: 50px;
	background-color: #ffffff;
	border-bottom: 1px solid #e9ecf1;
	z-index: 990;
	position: fixed;
	left: 0px;
	top: 0px;
}
.topbox p{
	line-height: 50px;
	font-size: 14px;
	color: #222222;
	text-align: center;
}
.topbox a.back{
	display: block;
	width: 50px;
	height: 50px;
	position: absolute;
	left: 0px;
	top: 0px;
	background: url('../images/return.png') no-repeat center;
	background-size: auto 15px;
}
.topbox a.pres{
	display: block;
	height: 50px;
	line-height: 50px;
	color: #222222;
	font-size: 13px;
	text-decoration: underline;
	position: absolute;
	right: 20px;
	top: 0px;
}
.scroll {
	width:100%;
	position:relative;
	overflow:hidden;
	margin-top: 50px;
	z-index: 10;
}
.mod_01 {
	float:left;
	width:100%;
	height: 100%;
}
.mod_01 a{
	display: block;
	width: 100%;
	height: 100%;
}
.mod_01 img {
	display:block;
	width:360px;
	height:auto;
}
.dotModule_new {
	padding:0 5px;
	height:11px;
	line-height:6px;
	-webkit-border-radius:11px;
	position:absolute;
	bottom:5px;
	right:10px;
}
#slide_01_dot {
	text-align:center;
	margin:3px 0 0 0;
}
#slide_01_dot span {
	display:inline-block;
	margin:0 3px;
	width:6px;
	height:6px;
	vertical-align:middle;
	background:#ffffff;
	-webkit-border-radius:3px;
}
#slide_01_dot .selected {
	background:#ff0000;
}

.leftslidebox{
	width: 70%;
	height: 100%;
	padding-top: 50px;
	position: fixed;
	left: 0px;
	background: #282c35;
	z-index: 999;
	overflow: hidden;
}
.leftslidebox ul li{
	list-style-type: none;
	padding: 0px 30px;
}
.leftslidebox ul li:active{
	background: #191a1d;
}
.leftslidebox ul li.home a{
	color: #b81c22;
}
.leftslidebox ul li a{
	display: block;
	padding: 0px 30px;
	color: #ffffff;
	height: 60px;
	line-height: 60px;
	overflow: hidden;
	font-size: 14px;
	font-weight: bold;
	background: url('../images/open.png') right center no-repeat;
	background-size: auto 15px;
	position: relative;
}
.leftslidebox ul li a img{
	height: 10px;
	position: absolute;
	left: 0px;
	top: 25px;
}
@keyframes leftslideboxopen
{
	0%{width: 0%;padding-top: 0px;}
	20%{width: 14%;padding-top: 10px;}
	40%{width: 28%;padding-top: 20px;}
	60%{width: 42%;padding-top: 30px;}
	80%{width: 56%;padding-top: 40px;}
	100%{width: 70%;padding-top: 50px;}
}
@-moz-keyframes leftslideboxopen
{
	0%{width: 0%;padding-top: 0px;}
	20%{width: 14%;padding-top: 10px;}
	40%{width: 28%;padding-top: 20px;}
	60%{width: 42%;padding-top: 30px;}
	80%{width: 56%;padding-top: 40px;}
	100%{width: 70%;padding-top: 50px;}
}
@-webkit-keyframes leftslideboxopen
{
	0%{width: 0%;padding-top: 0px;}
	20%{width: 14%;padding-top: 10px;}
	40%{width: 28%;padding-top: 20px;}
	60%{width: 42%;padding-top: 30px;}
	80%{width: 56%;padding-top: 40px;}
	100%{width: 70%;padding-top: 50px;}
}
@-o-keyframes leftslideboxopen
{
	0%{width: 0%;padding-top: 0px;}
	20%{width: 14%;padding-top: 10px;}
	40%{width: 28%;padding-top: 20px;}
	60%{width: 42%;padding-top: 30px;}
	80%{width: 56%;padding-top: 40px;}
	100%{width: 70%;padding-top: 50px;}
}
@keyframes indexpageclose
{
	0%{position: fixed;left: 0%;top: 0px;}
	20%{position: fixed;left: 14%;top: 0px;}
	40%{position: fixed;left: 28%;top: 0px;}
	60%{position: fixed;left: 42%;top: 0px;}
	80%{position: fixed;left: 56%;top: 0px;}
	100%{position: fixed;left: 70%;top: 0px;}
}
@-moz-keyframes indexpageclose
{
	0%{position: fixed;left: 0%;top: 0px;}
	20%{position: fixed;left: 14%;top: 0px;}
	40%{position: fixed;left: 28%;top: 0px;}
	60%{position: fixed;left: 42%;top: 0px;}
	80%{position: fixed;left: 56%;top: 0px;}
	100%{position: fixed;left: 70%;top: 0px;}
}
@-webkit-keyframes indexpageclose
{
	0%{position: fixed;left: 0%;top: 0px;}
	20%{position: fixed;left: 14%;top: 0px;}
	40%{position: fixed;left: 28%;top: 0px;}
	60%{position: fixed;left: 42%;top: 0px;}
	80%{position: fixed;left: 56%;top: 0px;}
	100%{position: fixed;left: 70%;top: 0px;}
}
@-o-keyframes indexpageclose
{
	0%{position: fixed;left: 0%;top: 0px;}
	20%{position: fixed;left: 14%;top: 0px;}
	40%{position: fixed;left: 28%;top: 0px;}
	60%{position: fixed;left: 42%;top: 0px;}
	80%{position: fixed;left: 56%;top: 0px;}
	100%{position: fixed;left: 70%;top: 0px;}
}
@keyframes indexpageopen
{
	0%{position: fixed;left: 70%;top: 0px;}
	20%{position: fixed;left: 56%;top: 0px;}
	40%{position: fixed;left: 42%;top: 0px;}
	60%{position: fixed;left: 28%;top: 0px;}
	80%{position: fixed;left: 14%;top: 0px;}
	100%{position: fixed;left: 0%;top: 0px;}
}
@-moz-keyframes indexpageopen
{
	0%{position: fixed;left: 70%;top: 0px;}
	20%{position: fixed;left: 56%;top: 0px;}
	40%{position: fixed;left: 42%;top: 0px;}
	60%{position: fixed;left: 28%;top: 0px;}
	80%{position: fixed;left: 14%;top: 0px;}
	100%{position: fixed;left: 0%;top: 0px;}
}
@-webkit-keyframes indexpageopen
{
	0%{position: fixed;left: 70%;top: 0px;}
	20%{position: fixed;left: 56%;top: 0px;}
	40%{position: fixed;left: 42%;top: 0px;}
	60%{position: fixed;left: 28%;top: 0px;}
	80%{position: fixed;left: 14%;top: 0px;}
	100%{position: fixed;left: 0%;top: 0px;}
}
@-o-keyframes indexpageopen
{
	0%{position: fixed;left: 70%;top: 0px;}
	20%{position: fixed;left: 56%;top: 0px;}
	40%{position: fixed;left: 42%;top: 0px;}
	60%{position: fixed;left: 28%;top: 0px;}
	80%{position: fixed;left: 14%;top: 0px;}
	100%{position: fixed;left: 0%;top: 0px;}
}
@keyframes footerclose
{
	0%{position: fixed;left: 0%;bottom: 0px;}
	20%{position: fixed;left: 14%;bottom: 0px;}
	40%{position: fixed;left: 28%;bottom: 0px;}
	60%{position: fixed;left: 42%;bottom: 0px;}
	80%{position: fixed;left: 56%;bottom: 0px;}
	100%{position: fixed;left: 70%;bottom: 0px;}
}
@-moz-keyframes footerclose
{
	0%{position: fixed;left: 0%;bottom: 0px;}
	20%{position: fixed;left: 14%;bottom: 0px;}
	40%{position: fixed;left: 28%;bottom: 0px;}
	60%{position: fixed;left: 42%;bottom: 0px;}
	80%{position: fixed;left: 56%;bottom: 0px;}
	100%{position: fixed;left: 70%;bottom: 0px;}
}
@-webkit-keyframes footerclose
{
	0%{position: fixed;left: 0%;bottom: 0px;}
	20%{position: fixed;left: 14%;bottom: 0px;}
	40%{position: fixed;left: 28%;bottom: 0px;}
	60%{position: fixed;left: 42%;bottom: 0px;}
	80%{position: fixed;left: 56%;bottom: 0px;}
	100%{position: fixed;left: 70%;bottom: 0px;}
}
@-o-keyframes footerclose
{
	0%{position: fixed;left: 0%;bottom: 0px;}
	20%{position: fixed;left: 14%;bottom: 0px;}
	40%{position: fixed;left: 28%;bottom: 0px;}
	60%{position: fixed;left: 42%;bottom: 0px;}
	80%{position: fixed;left: 56%;bottom: 0px;}
	100%{position: fixed;left: 70%;bottom: 0px;}
}
@keyframes footeropen
{
	0%{position: fixed;left: 70%;bottom: 0px;}
	20%{position: fixed;left: 56%;bottom: 0px;}
	40%{position: fixed;left: 42%;bottom: 0px;}
	60%{position: fixed;left: 28%;bottom: 0px;}
	80%{position: fixed;left: 14%;bottom: 0px;}
	100%{position: fixed;left: 0%;bottom: 0px;}
}
@-moz-keyframes footeropen
{
	0%{position: fixed;left: 70%;bottom: 0px;}
	20%{position: fixed;left: 56%;bottom: 0px;}
	40%{position: fixed;left: 42%;bottom: 0px;}
	60%{position: fixed;left: 28%;bottom: 0px;}
	80%{position: fixed;left: 14%;bottom: 0px;}
	100%{position: fixed;left: 0%;bottom: 0px;}
}
@-webkit-keyframes footeropen
{
	0%{position: fixed;left: 70%;bottom: 0px;}
	20%{position: fixed;left: 56%;bottom: 0px;}
	40%{position: fixed;left: 42%;bottom: 0px;}
	60%{position: fixed;left: 28%;bottom: 0px;}
	80%{position: fixed;left: 14%;bottom: 0px;}
	100%{position: fixed;left: 0%;bottom: 0px;}
}
@-o-keyframes footeropen
{
	0%{position: fixed;left: 70%;bottom: 0px;}
	20%{position: fixed;left: 56%;bottom: 0px;}
	40%{position: fixed;left: 42%;bottom: 0px;}
	60%{position: fixed;left: 28%;bottom: 0px;}
	80%{position: fixed;left: 14%;bottom: 0px;}
	100%{position: fixed;left: 0%;bottom: 0px;}
}
@keyframes aopen
{
	0%{height: 85px;line-height: 85px;font-size: 24px;}
	20%{height: 80px;line-height: 80px;font-size: 22px;}
	40%{height: 75px;line-height: 75px;font-size: 20px;}
	60%{height: 70px;line-height: 70px;font-size: 18px;}
	80%{height: 65px;line-height: 65px;font-size: 16px;}
	100%{height: 60px;line-height: 60px;font-size: 14px;}
}
@-moz-keyframes aopen
{
	0%{height: 85px;line-height: 85px;font-size: 24px;}
	20%{height: 80px;line-height: 80px;font-size: 22px;}
	40%{height: 75px;line-height: 75px;font-size: 20px;}
	60%{height: 70px;line-height: 70px;font-size: 18px;}
	80%{height: 65px;line-height: 65px;font-size: 16px;}
	100%{height: 60px;line-height: 60px;font-size: 14px;}
}
@-webkit-keyframes aopen
{
	0%{height: 85px;line-height: 85px;font-size: 24px;}
	20%{height: 80px;line-height: 80px;font-size: 22px;}
	40%{height: 75px;line-height: 75px;font-size: 20px;}
	60%{height: 70px;line-height: 70px;font-size: 18px;}
	80%{height: 65px;line-height: 65px;font-size: 16px;}
	100%{height: 60px;line-height: 60px;font-size: 14px;}
}
@-o-keyframes aopen
{
	0%{height: 85px;line-height: 85px;font-size: 24px;}
	20%{height: 80px;line-height: 80px;font-size: 22px;}
	40%{height: 75px;line-height: 75px;font-size: 20px;}
	60%{height: 70px;line-height: 70px;font-size: 18px;}
	80%{height: 65px;line-height: 65px;font-size: 16px;}
	100%{height: 60px;line-height: 60px;font-size: 14px;}
} 
@keyframes leftslideboxclose
{
	0%{width: 70%;padding-top: 50px;}
	20%{width: 56%;padding-top: 40px;}
	40%{width: 42%;padding-top: 30px;}
	60%{width: 28%;padding-top: 20px;}
	80%{width: 14%;padding-top: 10px;}
	100%{width: 0%;padding-top: 0px;}
}
@-moz-keyframes leftslideboxclose
{
	0%{width: 70%;padding-top: 50px;}
	20%{width: 56%;padding-top: 40px;}
	40%{width: 42%;padding-top: 30px;}
	60%{width: 28%;padding-top: 20px;}
	80%{width: 14%;padding-top: 10px;}
	100%{width: 0%;padding-top: 0px;}
}
@-webkit-keyframes leftslideboxclose
{
	0%{width: 70%;padding-top: 50px;}
	20%{width: 56%;padding-top: 40px;}
	40%{width: 42%;padding-top: 30px;}
	60%{width: 28%;padding-top: 20px;}
	80%{width: 14%;padding-top: 10px;}
	100%{width: 0%;padding-top: 0px;}
}
@-o-keyframes leftslideboxclose
{
	0%{width: 70%;padding-top: 50px;}
	20%{width: 56%;padding-top: 40px;}
	40%{width: 42%;padding-top: 30px;}
	60%{width: 28%;padding-top: 20px;}
	80%{width: 14%;padding-top: 10px;}
	100%{width: 0%;padding-top: 0px;}
}
@keyframes aclose
{
	0%{height: 60px;line-height: 60px;font-size: 14px;}
	20%{height: 65px;line-height: 65px;font-size: 16px;}
	40%{height: 70px;line-height: 70px;font-size: 18px;}
	60%{height: 75px;line-height: 75px;font-size: 20px;}
	80%{height: 80px;line-height: 80px;font-size: 22px;}
	100%{height: 85px;line-height: 85px;font-size: 24px;}
}
@-moz-keyframes aclose
{
	0%{height: 60px;line-height: 60px;font-size: 14px;}
	20%{height: 65px;line-height: 65px;font-size: 16px;}
	40%{height: 70px;line-height: 70px;font-size: 18px;}
	60%{height: 75px;line-height: 75px;font-size: 20px;}
	80%{height: 80px;line-height: 80px;font-size: 22px;}
	100%{height: 85px;line-height: 85px;font-size: 24px;}
}
@-webkit-keyframes aclose
{
	0%{height: 60px;line-height: 60px;font-size: 14px;}
	20%{height: 65px;line-height: 65px;font-size: 16px;}
	40%{height: 70px;line-height: 70px;font-size: 18px;}
	60%{height: 75px;line-height: 75px;font-size: 20px;}
	80%{height: 80px;line-height: 80px;font-size: 22px;}
	100%{height: 85px;line-height: 85px;font-size: 24px;}
}
@-o-keyframes aclose
{
	0%{height: 60px;line-height: 60px;font-size: 14px;}
	20%{height: 65px;line-height: 65px;font-size: 16px;}
	40%{height: 70px;line-height: 70px;font-size: 18px;}
	60%{height: 75px;line-height: 75px;font-size: 20px;}
	80%{height: 80px;line-height: 80px;font-size: 22px;}
	100%{height: 85px;line-height: 85px;font-size: 24px;}
}
.indexpage{
	overflow: scroll;
}
.indexpage .hidbox{
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 998;
}
.indexpage .specialbox .special{
	background: #ffffff;
}
.indexpage .specialbox .special a{
	display: block;
	width: 100%;
	height: 100%;
	overflow: hidden;
}
.indexpage .specialbox .special a p{
	height: 40px;
	line-height: 40px;
	font-size: 14px;
	color: #000000;
	padding: 0px 170px 0px 30px;
	position: relative;
}
.indexpage .specialbox .special a p img{
	/*display: block;*/
	width: 22px;
	position: absolute;
	left: 4px;
	top: 15px;
}
.indexpage .specialbox .special a p span{
	display: block;
	height: 40px;
	line-height: 40px;
	overflow: hidden;
	font-size: 12px;
	color: #333333;
	position: absolute;
	right: 10px;
	top: 0px;
}
.indexpage .specialbox .special a img{
	width: 100%;
}
.indexpage .specialbox .special:last-child{
	margin-bottom: 85px;
}
.appointmentpage .banbox{
	width: 100%;
	overflow: hidden;
	margin-top: 50px;
}
.appointmentpage .banbox img{
	width: 100%;
}
.appointmentpage form{
	background: #ffffff;
	padding-bottom: 15px;
	margin-bottom: 76px;
}
.appointmentpage form>div{
	height: 50px;
	position: relative;
	padding-left: 80px;
	padding-right: 20px;
	border-bottom: 1px solid #eeeeee;
}
.appointmentpage form>div p{
	font-size: 14px;
	color: #4a4a4a;
	line-height: 50px;
	position: absolute;
	left: 20px;
	top: 0px;
}
.appointmentpage form>div input{
	width: 100%;
	height: 100%;
	border:none;
	outline: none;
	text-align: right;
	color: #000000;
	font-size: 14px;
	z-index: 100;
}
.appointmentpage form div.sex a{
	display: block;
	height: 50px;
	line-height: 50px;
	padding-left: 28px;
}
.appointmentpage form div.sex a.boy{
	position: absolute;
	left: 120px;
	top: 0px;
}
.appointmentpage form div.sex a.girl{
	position: absolute;
	left: 200px;
	top: 0px;
}
.appointmentpage form div.sex a span{
	display: block;
	width: 16px;
	height: 16px;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	border-radius: 8px;
	border: 1px solid #d8d8d8;
	position: absolute;
	left: 0px;
	top: 17px;
}
.appointmentpage form div.sex a.sel span{
	border: 1px solid #b81c22;
}
.appointmentpage form div.sex a span em{
	display: block;
	width: 10px;
	height: 10px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius: 5px;
	background: #d8d8d8;
	margin: 3px auto;
}
.appointmentpage form div.sex a.sel span em{
	background: #b81c22;
}
.appointmentpage form div.city{
	position: relative;
}
.appointmentpage form div.city span{
	display: block;
	padding-right: 30px;
	text-align: right;
	font-size: 14px;
	color: #999999;
	line-height: 50px;
	background: url('../images/selcity.png') right center no-repeat;
	background-size: 15px auto;
}
.appointmentpage form ul.selcity{
	width: 70%;
	height: 50%;
	background: #ffffff;
	border: 1px solid #b81c22;
	overflow: scroll;
	position: fixed;
	top: 25%;
	left: 15%;
	z-index: 999;
}
.appointmentpage form ul.selcity li{
	list-style-type: none;
	height: 50px;
	line-height: 50px;
	text-align: center;
}
.appointmentpage form ul.selcity li.sel{
	background: #f3afb2;
}
.appointmentpage form ul.selcity li:active{
	background: #f3afb2;
}
.appointmentpage form a.sub{
	display: block;
	width: 295px;
	height: 48px;
	background: #b81c22;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius: 5px;
	font-size: 17px;
	line-height: 48px;
	text-align: center;
	letter-spacing: 15px;
	color: #ffffff;
	margin: 0px auto;
	margin-top: 15px;
}
.loginpage a.bac{
	display: block;
	width: 50px;
	height: 50px;
	text-align: center;
	line-height: 50px;
	color: #999999;
	font-size: 30px;
	font-weight: 100;
	position: absolute;
	left: 0px;
	top: 0px;
}
.loginpage a.bac:active{
	background: #999999;
}
.loginpage .logobox{
	width: 100%;
	height: 200px;
}
.loginpage .logobox img{
	display: block;
	height: 100px;
	margin: 0px auto;
	padding: 50px 0px;
}
.loginpage form p{
	background: #ffffff;
	height: 40px;
	padding-left: 80px;
	padding-right: 120px;
	position: relative;
	border-top: 1px solid #dddddd;
}
.loginpage form p.password{
	border-bottom: 1px solid #dddddd;
}
.loginpage form p input{
	width: 100%;
	height: 100%;
	font-size: 14px;
	border: none;
}
.loginpage form p span{
	font-size: 14px;
	color: #000000;
	line-height: 40px;
	position: absolute;
	left: 20px;
	top: 0px;
}
.loginpage form p.username a.btn{
	display: block;
	width: 90px;
	height: 30px;
	text-align: center;
	line-height: 30px;
	position: absolute;
	right: 20px;
	top: 5px;
	font-size: 12px;
	background: #b81c22;
	color: #ffffff;
}
.loginpage form a.sub{
	display: block;
	width: 200px;
	height: 40px;
	margin: 40px auto;
	background: #b81c22;
	color: #ffffff;
	border: none;
	letter-spacing:8px;
	text-align: center;
	line-height: 40px;
	font-size: 16px;
}
.shopaddrpage .topbox{
	background: url('../images/line.png') bottom repeat-x;
	background-color: #ffffff;
	background-size: auto 4px;
	padding-bottom: 4px;
}
.shopaddrpage .userinfobox{
	margin-top: 55px;
	margin-bottom: 61px;
}
.shopaddrpage .userinfobox .userinfo{
	background: #ffffff;
	padding-top:10px;
	margin-bottom: 10px;
	position: relative;
}
.shopaddrpage .userinfobox .userinfo p.name{
	color: #2c2c2c;
	font-weight: bold;
	line-height: 20px;
	font-size: 14px;
	padding: 0px 20px;
}
.shopaddrpage .userinfobox .userinfo p.name span{
	margin-left: 20px;
}
.shopaddrpage .userinfobox .userinfo p.addr{
	line-height: 18px;
	max-height: 36px;
	overflow: hidden;
	font-size: 12px;
	color: #9e9e9e;
	margin-bottom: 10px;
	padding: 5px 20px 0px 20px;
	
}
.shopaddrpage .userinfobox .userinfo .editor{
	height: 36px;
	border-top: 1px dotted #bebebe;
	position: relative;
}
.shopaddrpage .userinfobox .userinfo a.radio{
	display: block;
	padding-left: 20px;
	font-size: 12px;
	color: #2f2f2f;
	line-height: 20px;
	position: absolute;
	bottom: 8px;
	left: 20px;
}
.shopaddrpage .userinfobox .userinfo a.radio.sel{
	color: #b81c22;
}
.shopaddrpage .userinfobox .userinfo a.radio.sel p{
	border: 1px solid #b81c22;
}
.shopaddrpage .userinfobox .userinfo a.radio.sel p span{
	background: #b81c22;
}
.shopaddrpage .userinfobox .userinfo a.radio p{
	width: 14px;
	height: 14px;
	-moz-border-radius:7px;
	-webkit-border-radius:7px;
	border-radius: 7px;
	border: 1px solid #999999;
	position: absolute;
	left: 0px;
	top: 2px;
	
}
.shopaddrpage .userinfobox .userinfo a.radio p span{
	display: block;
	width: 5px;
	height: 5px;
	margin: 4.5px auto;
	background: #999999;
}
.shopaddrpage .userinfobox .userinfo a.del{
	display: block;
	width: 40px;
	height: 20px;
	color: #919191;
	font-size: 12px;
	text-align: center;
	line-height: 20px;
	border: 1px solid #989898;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius: 5px;
	position: absolute;
	right: 20px;
	bottom: 7px;
}
.shopaddrpage .addbtn{
	width: 100%;
	height: 60px;
	position: fixed;
	bottom: 0px;
	left: 0px;
	background: #ffffff;
	border-top: 1px solid #e7e7e7;
}
.shopaddrpage .addbtn a{
	display: block;
	width: 100px;
	height: 40px;
	font-size: 12px;
	background: #b81c22;
	color: #ffffff;
	text-align: center;
	line-height: 40px;
	margin: 10px auto;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius: 5px;
}
.addaddrpage .topbox{
	background: url('../images/line.png') bottom repeat-x;
	background-color: #ffffff;
	background-size: auto 4px;
	padding-bottom: 4px;
}
.addaddrpage .mes.nameandtel{
	margin-top: 69px;
}
.addaddrpage .mes{
	margin-top: 15px;
	padding-left: 15px;
	background: #ffffff;
}
.addaddrpage .mes>div{
	height: 50px;
	padding-left: 70px;
	border-bottom: 1px solid #e7e7e7;
	position: relative;
}
.addaddrpage .mes>div:last-child{
	border-bottom: none;
}
.addaddrpage .mes>div p{
	line-height: 50px;
	font-size: 14px;
	color: #222222;
	position: absolute;
	left: 0px;
	top: 0px;
}
.addaddrpage .mes>div input{
	width: 100%;
	height: 100%;
	font-size: 14px;
	color: #555555;
	border: none;
}
.addaddrpage .mes>div.area{
	padding-right: 30px;
}
.addaddrpage .mes>div.area span{
	display: block;
	width: 100%;
	height: 100%;
	font-size: 14px;
	line-height: 50px;
	color: #999999;
	background: url('../images/selcity.png') right center no-repeat;
	background-size: 15px auto;
}
.addaddrpage .mes>div.address{
	padding: 10px 0px;
	height: 54px;
	padding-left: 70px;
	padding-right: 10px;
}
.addaddrpage .mes>div.address p{
	line-height: 18px;
	position: absolute;
	left: 0px;
	top: 10px;
}
.addaddrpage .mes>div.address textarea{
	width: 100%;
	height: 54px;
	font-size: 14px;
	color: #555555;
	line-height: 18px;
	outline: none;
	overflow: scroll;
	border: none;
}
.addaddrpage .hidebox{
	width: 100%;
	height: 260px;
	background: #ffffff;
	position: fixed;
	bottom: 0px;
	bottom: 0px;
	z-index: 999;
}
.addaddrpage .hidebox .btnbox{
	height: 40px;
	background: #efeff4;
	position: relative;
}
.addaddrpage .hidebox .btnbox a{
	display: block;
	width: 40px;
	height: 24px;
	background: #c6c6c6;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius: 5px;
	font-size: 12px;
	color: #000000;
	text-align: center;
	line-height: 24px;
}
.addaddrpage .hidebox .btnbox a.away{
	position: absolute;
	left: 10px;
	top: 8px;
}
.addaddrpage .hidebox .btnbox a.sure{
	position: absolute;
	right: 10px;
	top: 8px;
}
.addaddrpage .hidebox .localbox{
	padding: 20px 0px;
}
.addaddrpage .hidebox .localbox ul{
	width: 100%;
	height: 180px;
	float: left;
	list-style-type: none;
	overflow: scroll;
}
.addaddrpage .hidebox .localbox ul li{
	height: 40px;
	line-height: 40px;
	text-align: center;
	border-bottom: 1px dotted #efeff4;
}
.addaddrpage .hidebox .localbox ul li.sel a{
	border-bottom: 2px solid #b81c22;
}
.addaddrpage .hidebox .localbox ul li a{
	padding: 8px 0px;
	font-size: 14px;
	color: #333333;
}
.gray{
	display: none;
	width: 100%;
	height: 100%;
	position: fixed;
	left: 0px;
	top: 0px;
	background: #333333;
	opacity: 0.8;
	z-index: 998;
}
.myorderpage .list{
	margin-top: 60px;
	
}
.myorderpage .list .listbox{
	background: #ffffff;
	margin-bottom: 10px;
	padding: 0px 10px;
}
.myorderpage .list .listbox .list_num{
	width: 100%;
	height: 34px;
	line-height: 34px;
	font-size: 14px;
	color: #666666;
	border-bottom: 1px solid #e9ecf1;
	position: relative;
}
.myorderpage .list .listbox .list_num span{
	display: block;
	line-height: 34px;
	color: #b81c22;
	font-size: 12px;
	position: absolute;
	right: 0px;
	top: 0px;
}
.myorderpage .list .listbox .pro{
	width: 100%;
	position: relative;
} 
.myorderpage .list .listbox .pro a{
	display: block;
}
.myorderpage .list .listbox .pro img{
	height: 80px;
	position: absolute;
	left: 0px;
	top: 0px;
}
.myorderpage .list .listbox .pro .pro_p{
	margin-left: 100px;
	margin-right: 60px;
	padding: 10px 0px;
}
.myorderpage .list .listbox .pro .pro_p p{
	height: 40px;
	line-height: 20px;
	font-size: 12px;
	color: #000000;

	overflow: hidden;
}
.myorderpage .list .listbox .pro .pro_p .pro_p2{
	color: #8c8c8c;
	height: 20px;
}
.myorderpage .list .listbox .pro .pro_p p.pro_p1 span{
	position: absolute;
	right: 5px;
	top: 5px;
}
.myorderpage .list .listbox .pro .pro_p p.pro_p2 span{
	position: absolute;
	right: 5px;
	bottom:10px;
	color: #000000;
}
.myorderpage .list .listbox p.pri{
	border-top: 1px solid #e9ecf1;
	font-size: 12px;
	color: #8c8c8c;
	height: 40px;
	line-height: 40px;
	position: relative;
}
.myorderpage .list .listbox p.pri span{
	font-size: 14px;
	color: #b81c22;
}
.myorderpage .list .listbox p.pri a.del{
	color: #999999;
	border: 1px solid #999999;
	position: absolute;
	top: 4px;
	right: 90px;
}
.myorderpage .list .listbox p.pri a{
	display: block;
	font-size: 14px;
	color: #b81c22;
	height: 30px;
	border:1px solid #b81c22;
	padding: 0px 10px;
	border-radius: 3px;
	position: absolute;
	right: 5px;
	top: 4px;
	line-height: 32px;
}
.nulllist{
	margin-bottom: 60px;
}
.nulllist .nulllistbox{
	height: 300px;
	margin: 0px 17px;
	background: url("res/images/line.png") center repeat-x;
	background-size: auto 1px;
}
.nulllist .nulllistbox .img{
	width: 80px;
	margin: 20px auto;
	padding-top: 120px;
}
.nulllist .nulllistbox .img img{
	width: 100%;
}
.nulllist .nulllistbox p{
	text-align: center;
	font-size: 14px;
	color: #666666;
}
.nulllist p{
	text-align: center;
	font-size: 14px;
	color: #999999;
}
.nulllist>a{
	display: block;
	width: 138px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	text-decoration: none;
	font-size: 16px;
	color: #b81c22;
	margin: 20px auto;
	border: 1px solid #b81c22;
	border-radius: 5px;
}
.nulllist .link{
	width: 180px;
	margin: 10px auto;
}
.nulllist .link a{
	text-decoration: none;
	font-size: 14px;
	color: #999999;
	margin: 16px 0px;
	border-right: 1px solid #7f7f80;
	padding: 0px 14px;
}
.nulllist .link a:last-child{
	border-right:none;
}
.orderdetailspage .anarchy{
	margin-top: 60px;
	margin-bottom: 10px;
	height: 100px;
	background: #ffffff;
}
.orderdetailspage .anarchy p{
	padding: 0px 20px 0px 110px;
	line-height: 100px;
	font-size: 15px;
	font-weight: bold;
	color: #000000;
	position: relative;
}
.orderdetailspage .anarchy p span{
	display: block;
	width: 100px;
	height: 100px;
	position: absolute;
	left: 0px;
	top: 0px;
}
.orderdetailspage .anarchy p.dzf span{
	background: url('../images/order_dzf.jpg') no-repeat center;
	background-size: auto 50px;
}
.orderdetailspage .anarchy p.dfh span{
	background: url('../images/order_dfh.jpg') no-repeat center;
	background-size: auto 50px;
}
.orderdetailspage .anarchy p.dsh span{
	background: url('../images/order_dsh.jpg') no-repeat center;
	background-size: auto 50px;
}
.orderdetailspage .anarchy p.ywc span{
	background: url('../images/order_ywc.jpg') no-repeat center;
	background-size: auto 50px;
}
.orderdetailspage .anarchy p.tkz span{
	background: url('../images/order_tkz.jpg') no-repeat center;
	background-size: auto 50px;
}
.orderdetailspage .anarchy p.tkwc span{
	background: url('../images/order_tkwc.jpg') no-repeat center;
	background-size: auto 50px;
}
.orderdetailspage .useradd{
	background: #ffffff;
	margin-bottom: 10px;
	padding: 6px 10px 10px 40px;
	position: relative;
}
.orderdetailspage .useradd p.name{
	height: 25px;
	line-height: 25px;
	font-size: 13px;
	color: #333333;
	padding-right: 150px;
	position: relative;
}
.orderdetailspage .useradd p.name span{
	position: absolute;
	right: 60px;
	top: 0px;
}
.orderdetailspage .useradd p.address{
	font-size: 12px;
	line-height: 15px;
	color: #333333;
	position: relative;
}
.orderdetailspage .useradd p.address em{
	display: block;
	width: 30px;
	height: 30px;
	background: url('../images/map.png') center no-repeat;
	background-size: auto 25px;
	position: absolute;
	left: -35px;
	top: -15px;
}
.orderdetailspage .listbox{
	background: #ffffff;
	margin-bottom: 10px;
	padding: 0px 10px;
}
.orderdetailspage .listbox .list_num{
	width: 100%;
	height: 34px;
	line-height: 34px;
	font-size: 14px;
	color: #666666;
	border-bottom: 1px solid #e9ecf1;
}
.orderdetailspage .listbox .pro{
	width: 100%;
	position: relative;
} 
.orderdetailspage .listbox .pro a{
	display: block;
}
.orderdetailspage .listbox .pro img{
	height: 80px;
	position: absolute;
	left: 0px;
	top: 0px;
}
.orderdetailspage .listbox .pro .pro_p{
	margin-left: 100px;
	margin-right: 60px;
	padding: 10px 0px;
}
.orderdetailspage .listbox .pro .pro_p p{
	height: 40px;
	line-height: 20px;
	font-size: 12px;
	color: #000000;
	overflow: hidden;
}
.orderdetailspage .listbox .pro .pro_p .pro_p2{
	color: #8c8c8c;
	height: 20px;
}
.orderdetailspage .listbox .pro .pro_p p.pro_p1 span{
	position: absolute;
	right: 5px;
	top: 5px;
}
.orderdetailspage .listbox .pro .pro_p p.pro_p2 span{
	position: absolute;
	right: 5px;
	bottom:10px;
	color: #000000;
}
.orderdetailspage .listbox p.pri{
	border-top: 1px solid #e9ecf1;
	font-size: 12px;
	color: #8c8c8c;
	height: 34px;
	line-height: 34px;
	position: relative;
}
.orderdetailspage .listbox p.pri span{
	font-size: 14px;
	color: #b81c22;
}
.orderdetailspage .timebox{
	padding: 6px 10px;
	background: #ffffff;
	margin-bottom: 60px;
}
.orderdetailspage .timebox p{
	font-size: 12px;
	line-height: 20px;
	color: #666666;
}
.orderdetailspage .btnbox{
	width: 100%;
	height: 50px;
	background: #ffffff;
	position: fixed;
	bottom: 0px;
	left: 0px;
	border-top: 1px solid #e9ecf1;
}
.orderdetailspage .btnbox a{
	display: block;
	font-size: 14px;
	color: #b81c22;
	height: 32px;
	border: 1px solid #b81c22;
	padding: 0px 10px;
	border-radius: 3px;
	position: absolute;
	right: 5px;
	top: 9px;
	line-height: 32px;
}
.orderdetailspage .btnbox a.del{
	color: #999999;
	border: 1px solid #999999;
	position: absolute;
	right: 90px;
	top: 9px;
}
.personalcenter .membershipsbox{
	margin-top: 50px;
	padding: 25px 0px;
	height: 110px;
	border-top: 1px solid #efeff4;
	background: url('../images/headimg_bg.jpg') no-repeat;
	background-size: 100% 100%;
	position: relative;
}
.personalcenter .membershipsbox .headimg{
	width: 80px;
	height: 80px;
	background: #ffffff;
	margin: 0px auto;
	-webkit-border-radius:42px;
	-moz-border-radius:42px;
	border-radius: 42px;
	border:2px solid #b81c22;
	overflow: hidden;
	position: relative;
}
.personalcenter .membershipsbox .headimg input{
	width: 80px;
	height: 80px;
	position: absolute;
	left: 0px;
	top: 0px;
	opacity: 0;
}
.personalcenter .membershipsbox .schi{
	position: absolute;
	left:65%;
	top: 70px; 
}
.personalcenter .membershipsbox .headimg img{
	width: 100%;
}
.personalcenter .membershipsbox a p{
	text-align: center;
	padding-top: 10px;
	font-size: 15px;
	text-decoration: underline;
	color: #222222;
}
.personalcenter .orderbox{
	height: 60px;
	margin-bottom: 10px;
	padding: 10px 0px;
	background: #ffffff;
}
.personalcenter .orderbox a{
	display: block;
	width: 25%;
	height: 100%;
	color: #585c64;
	text-align: center;
	float: left;
}
.personalcenter .orderbox a div{
	width: 24px;
	height: 24px;
	margin: 10px auto;
	position: relative;
}
.personalcenter .orderbox a div img{
	width: 100%;
	height: 100%;
}
.personalcenter .orderbox a div span{
	display: none;
	width: 16px;
	height: 16px;
	background: #b81c22;
	-webkit-border-radius:8px;
	-moz-border-radius:8px;
	border-radius: 8px;
	position: absolute;
	right: -8px;
	top: -8px;
	font-size: 12px;
	color: #ffffff;
}
.personalcenter .orderbox a p{
	font-size: 12px;
}
.personalcenter .accountandabout{
	padding-left:10px;
	background: #ffffff;
}
.personalcenter .accountandabout a{
	display:block;
	height: 45px;
	line-height: 45px;
	color: #222222;
	font-size: 14px;
	padding-left: 35px;
	padding-right: 45px;
	border-bottom: 1px solid #efeff4;
	position: relative;
}
.personalcenter .accountandabout a:last-child{
	border-bottom: none;
}
.personalcenter .accountandabout a img{
	display: block;
	height: 25px;
	position: absolute;
	left: 0px;
	top: 10px;
}
.personalcenter .accountandabout a span{
	display: block;
	width: 45px;
	height: 45px;
	background: url('../images/open.png') center no-repeat;
	background-size: auto 15px;
	position: absolute;
	right: 0px;
	top: 0px;
}
.personalcenter .aboutusbox{
	margin-top: 10px;
	margin-bottom: 75px;
}
.mycollectionpage .collprobox .collpro:first-child{
	margin-top: 60px;
}
.mycollectionpage .collprobox .collpro{
	background: #ffffff;
	position: relative;
	margin-top: 10px;
	padding: 10px 10px 10px 100px;
}
.mycollectionpage .collprobox .collpro a{
	display: block;
}
.mycollectionpage .collprobox .collpro a img{
	display: block;
	height: 88px;
	position: absolute;
	left: 0px;
	top: 0px;
}
.mycollectionpage .collprobox .collpro a p.name{
	font-size: 14px;
	color: #000000;
	line-height: 20px;
	height: 40px;
	overflow: hidden;
}
.mycollectionpage .collprobox .collpro a p.pri{
	color: #b81c22;
	font-size: 13px;
	line-height: 20px;
	margin: 4px 0px;
}
.mycollectionpage .collprobox .collpro a p.pri strike{
	margin-left: 10px;
	color: #333333;
}
.mycollectionpage .collprobox .collpro a.del{
	width: 40px;
	height: 25px;
	font-size: 12px;
	color: #b81c22;
	text-align: center;
	line-height: 25px;
	border: 1px solid #b81c22;
	-webkit-border-radius: 5px;
	-moz-border-radius:5px;
	border-radius: 5px;
	position: absolute;
	right: 20px;
	bottom: 10px;
}
.myprescription .prescriptionbox{
	margin-top: 50px;
}
.myprescription .prescriptionbox .prescription{
	padding-top: 10px;
}
.myprescription .prescriptionbox .prescription p.date{
	padding:10px 10px;
	font-size: 14px;
	color: #333333;
	background: #ffffff;
	border-bottom: 1px solid #efeff4;
	position: relative;
}
.myprescription .prescriptionbox .prescription p.date span{
	padding: 2px 10px;
	margin-right: 10px;
	color: #ffffff;
	background: #b81c22;
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	-o-border-radius:10px;
	border-radius:10px;
}
.myprescription .prescriptionbox .prescription p.date em{
	text-align: right;
	font-style: normal;
	position: absolute;
	right: 10px;
}
.myprescription .prescriptionbox .prescription a{
	display: block;
	padding: 10px 40px 10px 10px;
	background-color: #ffffff;
	position: relative;
}
.myprescription .prescriptionbox .prescription a em{
	display: block;
	width: 40px;
	height: 100%;
	background: url('../images/open.png') center no-repeat;
	background-size: auto 25px;
	position: absolute;
	right: 0px;
	top: 0px;
}
.myprescription .prescriptionbox .prescription a p{
	padding-left: 50px;
	position: relative;
	color: #333333;
	font-size: 14px;
	line-height: 18px;
}
.myprescription .prescriptionbox .prescription a p span{
	position: absolute;
	left: 0px;
	font-weight: bold;
}
.myprescription .null .img{
	width: 100px;
	padding-top: 150px;
	padding-bottom: 50px;
	margin: 0px auto;
}
.myprescription .null img{
	width: 100%;
}
.myprescription .null p{
	font-size: 12px;
	line-height: 20px;
	text-align: center;
}
.prescriptiondeta .usermesbox{
	margin-top: 50px;
	padding: 10px;
	color: #ffffff;
	background: #b81c22;
	border-bottom: 5px dotted #ffffff;
}
.prescriptiondeta .usermesbox p{
	position: relative;
	font-size: 14px;
	line-height: 20px;
	padding-left: 80px;
}
.prescriptiondeta .usermesbox p span{
	position: absolute;
	left: 0px;
}
.prescriptiondeta .uses{
	margin: 10px 0px;
	padding: 0px 10px;
	background: #ffffff;
	line-height: 30px;
	font-size: 14px;
	color: #333333;
}
.prescriptiondeta .uses span{
	margin-left: 10px;
}
.prescriptiondeta .databox{
	background: #ffffff;
	padding: 10px;
	font-size: 14px;
}
.prescriptiondeta .databox table{
	width: 100%;
	font-size: 13px;
}
.prescriptiondeta .databox table tr{
	line-height: 35px;
	text-align: center;
}
.prescriptiondeta .databox table tr td:first-child{
	font-weight: bold;
}
.prescriptiondeta .databox table tr th{
	line-height: 40px;
	font-weight: bold;
}
.myappointment .appointmentbox{
	margin-top: 60px;
}
.myappointment .appointmentbox .appointment{
	margin-top: 10px;
	padding: 0px 10px;
	background: #ffffff;
}
.myappointment .appointmentbox .appointment p{
	border-bottom: 1px solid #efeff4;
	line-height: 30px;
	font-size: 12px;
}
.myappointment .appointmentbox .appointment p.time{
	font-weight: bold;
}
.myappointment .appointmentbox .appointment p.sel span{
	color: #b81c22;
}
.aboutuspage .imgbox{
	margin-top: 50px;
}
.aboutuspage .imgbox img{
	width: 100%;
}